@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import 'partials/mixins';
@import 'partials/animations';
@import 'partials/television';
@import 'partials/monitor';
@import 'partials/answer-box';
@import 'partials/score-card';

body * {
  text-align: center;
  & ul {
    list-style: none;
    padding-left: 0;
  }
}

body {
  margin: 0;
}

main {
  margin: 0;
  background: url('../images/jeopardy.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  @include screenMask(.5);
}

main * {
  display: inline-block;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  box-sizing: border-box;
}
